datasources:
  - name: Prometheus
    access: proxy
    type: prometheus
    url: http://prometheus:9090
    isDefault: true

  - name: Loki
    access: proxy
    type: loki
    url: http://loki:3100
    isDefault: true
